
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h2> {{ titulo }}</h2>
    </main>
    <form action="{% url 'encuesta:resultado2' %}" method="post">
        {% csrf_token %}
        <label for="">
            Ingresar su edad:
        </label>
        <input type="number" name="edad" min="0" ><br>

        <input type="submit" name="submit" value="Enviar">
    </form>
</body>
</html>