
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h2> Cálculo del Volumen de un cilindro </h2>
    </main>
    <form action="{% url 'encuesta:resultado3' %}" method="post">
        {% csrf_token %}
        <label for="">
            Introduzca el diametro en metros : 
        </label>
        <input type="number" name="diametro" min="0" ><br>
        <label for="">
            Introduzca la altura en metros : 
        </label>
        <input type="number" name="altura" min="0" ><br>

        <input type="submit" name="submit" value="Calcular">
    </form>
</body>
</html>