<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Página de Inicio</title>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-16 text-center">
        <h1 class="text-3xl font-semibold mb-8">Página de Inicio</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="p-4 bg-white rounded shadow-md">
                <h2 class="text-xl font-semibold mb-2">Ejercicio 1</h2>
                <p class="m-5 text-gray-600">En el mismo proyecto, crea otro formulario que solicite dos datos numéricos, y desde una lista desplegable se seleccione una operación: suma, resta o multiplicación, finalmente desde otra vista se muestre el resultado de la operación seleccionada según los datos ingresados.</p>
                <a href="formulario" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800">Ir al Ejercicio 1</a>
            </div>
            <div class="p-4 bg-white rounded shadow-md">
                <h2 class="text-xl font-semibold mb-2">Ejercicio 2</h2>
                <p class="m-5 text-gray-600">Escribir un programa para una empresa que tiene salas de juegos para todas las edades y quiere calcular de forma automática el precio que debe cobrar a sus clientes por entrar. El programa debe preguntar al usuario la edad del cliente y mostrar el precio de la entrada. Si el cliente es menor de 4 años puede entrar gratis, si tiene entre 4 y 18 años debe pagar 5€ y si es mayor de 18 años, 10€.</p>
                <a href="formulario2" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800">Ir al Ejercicio 2</a>
                
            </div>
            <div class="p-4 bg-white rounded shadow-md">
                <h2 class="text-xl font-semibold mb-2">Ejercicio 3</h2>
                <p class="m-5 text-gray-600">En el mismo proyecto, crea otro formulario que solicite la altura y el diámetro de un cilindro en metros. Una vez el usuario introduzca los datos y pulse el botón calcular, deberá calcularse el volumen del cilindro y mostrarse el resultado en el navegador.</p>
                <a href="formulario3    " class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800">Ir al Ejercicio 3</a>
            </div>
        </div>
    </div>
    
</body>
</html>